/* add custom styles */
nav {
  background-color: #f9a825;
  margin-bottom: 25px;
}
select {
  display: block;
}
.cart-quantity {
  font-size: 1.5rem;
  user-select: none;
}
.cart-quantity i, .trash {
  cursor: pointer;
  user-select: none;
}
