body {
  background: whitesmoke;
  min-height: 100vh;
}
nav {
  background-color: #f9a825;
  margin-bottom: 25px;
}
select {
  display: block;
}
.cart-quantity {
  font-size: 1.5rem;
  user-select: none;
}
.cart-quantity i, .trash {
  cursor: pointer;
  user-select: none;
}
.cart-quantity i:hover, .trash:hover {
  color: purple;
}
.checkout-image {
  max-width: 100px;
}
.skinny-table td {
  padding: 5px;
}
.skinny-table-items td {
  padding: 15px 5px 5px;
}

.item-pricing {
  border-top: 1px solid black;
}
.grand-total {
  font-weight: bold;
  font-size: 1.4rem;
}
.checkout-button {
  width: 100%;
}
.order-summary {
  margin-top: 0;
  padding: 0 10px 10px;
}
.summary {
  margin-top: 5px;
  padding-top: 17px;
}
