<div class="col l7 m12 s12 card">
  <h4>Shopping Cart</h4>
  <table>
    <tr class="skinny-table-items">
      <td></td>
      <td>
        Item
      </td>
      <td>
        Quantity
      </td>
      <td></td>
    </tr>
    <tr ng-repeat="item in checkoutCtrl.cart" class="skinny-table">
      <td>
        <img ng-src="{{item.imageUrl}}" class="checkout-image" alt="image" />
      </td>
      <td>
        <strong>{{item.name}}</strong>
        <br>
        {{item.price | monetize | currency}} / each
        <br>
        In Stock: {{item.inStock | yesOrNo}}
      </td>
      <td>
        <span class="cart-quantity"><i class="material-icons tiny" ng-click="checkoutCtrl.lowerQuantity(item); checkoutCtrl.getSubtotal()">remove_circle_outline</i> {{item.quantity}} <i class="material-icons tiny" ng-click="checkoutCtrl.addQuantity(item); checkoutCtrl.getSubtotal()">add_circle_outline</i></span>
      </td>
      <td ng-click="checkoutCtrl.remove(item); checkoutCtrl.getSubtotal()">
        <i class="material-icons tiny trash">delete</i>
      </td>
    </tr>
  </table>
</div>
