<div class="row">
  <div class="input-field col m6">
    <input type="text" ng-model="mainCtrl.searchName" id="searchBox">
    <label for="searchBox">Search</label>
  </div>
  <div class="col m6">
    <a class="waves-effect waves-light btn" href="/#/checkout">Items in cart: {{mainCtrl.cart.length}} | Checkout</a>
  </div>
</div>
<div class="row">
  <div class="input-field col m6">
    <select ng-model="mainCtrl.searchCategory">
      <option value="" selected>Filter by Category</option>
      <option ng-repeat="category in mainCtrl.categories" value="{{category}}">{{category | capitalize}}</option>
    </select>
  </div>
  <div class="input-field col m6">
    <select ng-model="mainCtrl.priceSort">
      <option value="" selected>Sort by Price</option>
      <option value="-price">Price High to Low</option>
      <option value="price">Price Low to High</option>
    </select>
  </div>
</div>
<mt-item ng-repeat="item in mainCtrl.inventory | filter: mainCtrl.searchCategory | filter: mainCtrl.searchName | orderBy: mainCtrl.priceSort"></mt-item>
