<div class="card item-card">
  <div class="col m4">
    <img ng-src="{{item.imageUrl}}" alt="tea" class="responsive-img" />
  </div>
  <div class="col m8">
    <h5>{{item.name}}</h5>
    <p>
      Contains: {{item.ingredients}}
    </p>
    <p>
      Price: {{item.price | monetize | currency}}
    </p>
    <div class="chip" ng-repeat="category in item.categories">{{category | capitalize}}</div>
    <br>
    <br>
    <div class="row valign-wrapper">
      <div class="col s2 offset-s1 input-field">
        <label class="active">Quantity</label>
        <input ng-model="quantity" type="number" ng-init="quantity=1">
      </div>
      <div class="col s8 pull-s1">
        <button ng-if="item.inStock" type="button" class="orange waves-effect waves-light btn valign full-width-button center" ng-click="mainCtrl.addToCart(item, quantity)" ng-class="{disabled : !item.inStock}">Add to Cart</button>
        <button ng-if="!item.inStock" type="button" class="disabled btn valign full-width-button center">Out of Stock</button>
      </div>
  </div>
  </div>
</div>
