body {
  background: whitesmoke;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
nav {
  background-color: #f9a825;
  margin-bottom: 25px;
}
footer {
  background-color: grey !important;
  padding-bottom: 20px;
}
main {
  flex: 1 0 auto;
}
select {
  display: block;
}
a:hover {
  opacity: .7;
}
.cart-quantity {
  font-size: 1.5rem;
  user-select: none;
}
.cart-quantity i, .trash {
  cursor: pointer;
  user-select: none;
}
.cart-quantity i:hover, .trash:hover {
  color: purple;
}
.checkout-image {
  max-width: 100px;
}
.skinny-table td {
  padding: 5px;
}
.skinny-table-items td {
  padding: 15px 5px 5px;
}

.item-pricing {
  border-top: 1px solid black;
}
.grand-total {
  font-weight: bold;
  font-size: 1.4rem;
}
.full-width-button {
  width: 100%;
}
.order-summary {
  margin-top: 0;
  padding: 0 10px 10px;
}
.summary {
  margin-top: 5px;
  padding-top: 17px;
}
@media (min-width: 700px) {
  .footer-flex{
    display: flex;
    justify-content: space-between;
  }
  .social-icons {
    display: flex;
    justify-content: space-between;
  }
  .flex-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    flex: 1;
  }
  mt-item {
    width: 50%;
    padding: 10px;
  }
  .item-card {
    flex: 1 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (max-width: 699px) {
  .social-icons i {
    margin-right: 20px;
  }
  .item-card {
    width: 100%;
    flex: 1 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.fb, .gplus, .twitter {
  color: white;
  cursor: pointer;
}
a.fb:hover {
  color: #3b5998;
}
a.twitter:hover {
  color: #00aced;
}
a.gplus:hover {
  color: #d34836;
}
