<div class="col m8 card">
  <table>
    <tr>
      <th></th>
      <th>
        Item
      </th>
      <th>
        Quantity
      </th>
      <th></th>
    </tr>
    <tr ng-repeat="item in checkoutCtrl.cart">
      <td>
        <img ng-src="{{item.imageUrl}}" alt="image" />
      </td>
      <td>
        <h5>{{item.name}}</h5>
        <br>
        In Stock: {{item.inStock | yesOrNo}}
      </td>
      <td>
        <span class="cart-quantity"><i class="material-icons tiny" ng-click="checkoutCtrl.lowerQuantity(item); checkoutCtrl.getSubtotal()">remove_circle_outline</i> {{item.quantity}} <i class="material-icons tiny" ng-click="checkoutCtrl.addQuantity(item); checkoutCtrl.getSubtotal()">add_circle_outline</i></span>
      </td>
      <td ng-click="checkoutCtrl.remove(item); checkoutCtrl.getSubtotal()">
        <i class="material-icons tiny trash">delete</i>
      </td>
    </tr>
  </table>
</div>
